<link rel="stylesheet" href="./components/header/header.css" />

<script src="./components/header/header.js"></script>

<div>
  <div class="header-top">
    <div class="main">
      <div class="main_img">
        <a href="" title="腾讯游戏logo"
          ><img src="./assets/img/30.png" alt=""
        /></a>
        <a href=""><img src="/assets/img/2qqxw.jpg" alt="" /> </a>
      </div>
      <div class="main_text">
        <div></div>
        <a href="">成长守护平台</a>
        <div>
          <span>腾讯游戏排行榜</span>
          <div>
            <div>
              <h5>新品端游排行榜</h5>
            </div>
            <div>
              <h5>热门端游排行榜</h5>
            </div>
            <div>
              <h5>新品手游排行榜</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-foot">
    <div class="main">
      <div>
        <a href="?page=home">
          <img src="./assets/img/logo.png" alt="" />
        </a>
      </div>
      <div>
        <a href="">
          <h4>游戏资料</h4>
          <span>DATA</span>
        </a>
        <a href="">
          <h4>内容中心</h4>
          <span>CONTENTS</span>
        </a>
        <a href="">
          <h4>赛事中心</h4>
          <span>MATCH</span>
        </a>
        <a href="">
          <h4>百态王者</h4>
          <span>CULTURE</span>
        </a>
        <a href="">
          <h4>社区互动</h4>
          <span>COMMUNITY</span>
        </a>
        <a href="">
          <h4>玩家支持</h4>
          <span>PLAY</span>
        </a>
        <a href="">
          <h4>IP新游</h4>
          <span>NEW GAMES</span>
        </a>
      </div>
      <div>
        <img src="./assets/img/login.png" alt="" />
        <div>
          <p>欢迎登录</p>
          <span>登录后查看游戏战绩</span>
        </div>
      </div>
    </div>
    <div class="header-slide">
      <ul>
        <li>
          <div>
            <a href="">版本介绍</a>
            <a href="">游戏介绍</a>
            <a href="">英雄资料</a>
            <a href="">爆料站</a>
            <a href="">世界观体验站</a>
            <a href="">游戏壁纸</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">攻略中心</a>
            <a href="">开放素材库</a>
            <a href="">内容共创平台</a>
            <a href="">手语打法参考</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">世界冠军杯</a>
            <a href="">挑战者杯</a>
            <a href="">KPL</a>
            <a href="">全国大赛</a>
            <a href="">女子公开赛</a>
            <a href="">K甲联赛</a>
            <a href="">高校联赛</a>
            <a href="">王者赛宝</a>
            <a href="">赛事数据</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">荣耀·传承</a>
            <a href="">游戏介绍</a>
            <a href="">英雄资料</a>
            <a href="">爆料站</a>
            <a href="">世界观体验站</a>
            <a href="">游戏壁纸</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">荣耀·传承</a>
            <a href="">游戏介绍</a>
            <a href="">英雄资料</a>
            <a href="">爆料站</a>
            <a href="">世界观体验站</a>
            <a href="">游戏壁纸</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">荣耀·传承</a>
            <a href="">游戏介绍</a>
            <a href="">英雄资料</a>
            <a href="">爆料站</a>
            <a href="">世界观体验站</a>
            <a href="">游戏壁纸</a>
          </div>
        </li>
        <li>
          <div>
            <a href="">荣耀·传承</a>
            <a href="">游戏介绍</a>
            <a href="">英雄资料</a>
            <a href="">爆料站</a>
            <a href="">世界观体验站</a>
            <a href="">游戏壁纸</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
